# yandex disk envs
PASSWORD_CONFIG_PATH=/root/.config/yandex-disk/passwd
DATA_PATH=/root/Yandex.Disk
EXCLUDE_DIRS=

# dumper envs
CONFIG_PATH=config.yml
SCRIPTS_PATH=/app/scripts
RUN_ON_STARTUP=false

# uploader envs
/**
To get the token:
	- create an app https://oauth.yandex.ru/
	- remember app id
	- go to https://oauth.yandex.ru/authorize?response_type_token&client_id=APP_ID&response_type=token and you will see the token
*/
YAND_TOKEN=1234
#upload path on yandex disk where to place files
YAND_FOLDER=
YAND_UPLOADER_TIMEOUT=1h
