# yandex disk envs
PASSWORD_CONFIG_PATH=/root/.config/yandex-disk/passwd
DATA_PATH=/root/Yandex.Disk
EXCLUDE_DIRS=

# dumper envs
CONFIG_PATH=config.yml
SCRIPTS_PATH=/app/scripts
RUN_ON_STARTUP=false

# uploader envs
YAND_UPLOADER_URL=https://webdav.yandex.ru/breathbath.com #the path after slash is a folder path for dumps in Yandex Disk
YAND_UPLOADER_LOGIN=mylogin #login for your yandex account
YAND_UPLOADER_PASS=my_pass #create it as suggested https://yandex.ru/support/id/authorization/app-passwords.html
YAND_UPLOADER_TIMEOUT=1h
